{% extends "usernet/base.html" %}
{% block contant %}
    <div class="container">

       <form class="form-horizontal" role="form" method="post" action="">
        {% csrf_token %}
       <div class="form-group">
      <label for="name" class="col-sm-2 control-label"> </label>
      <div class="col-sm-10">
          <h3>{{ post.Usr_Name }}
       <small>{% if post.active == 1 %}
        <span class="label label-primary"><span class="glyphicon glyphicon-ok">已激活</span></span>
        {% else %}
        <span class="label label-default"><span class="glyphicon glyphicon-remove">未激活</span></span>
        {% endif %}
        {% if post.isdel == 1 %}
        <span class="label label-danger">删除</span>
        {% else %}
         <span class="label label-success">正常</span>
        {% endif %}
       {{ post.Cluster_id }}
       </small>
   </h3>
 <small><h6>{{ post.uuid }}</h6></small>

      </div>
   </div>
       <div class="form-group">
      <label for="mobile" class="col-sm-2 control-label">登陆名</label>
      <div class="col-sm-10">
        <input type="text" name="mobile"  value="{{ post.Usr_Mobile }}" id="mobile" size = "35" value="" disabled>
      </div>
   </div>

   <div class="form-group">
      <label for="password" class="col-sm-2 control-label">登陆密码</label>
      <div class="col-sm-10">
         {% if post.active == 1 %}
        <input type="text" name="password" placeholder="填写登陆密码" id="password" size = "35" value="" disabled>
        {% else %}
        <input type="text" name="password" placeholder="填写登陆密码" id="password" size = "35" value="" required>
        {% endif %}
      </div>
   </div>

     <div class="form-group">
      <label for="manager" class="col-sm-2 control-label">管理员</label>
      <div class="col-sm-10">
          {% if acitve.is_manager == 1 %}
               <input type="checkbox" name="is_manager" value="1" id = "manager" disabled>
        {% else %}
         <input type="checkbox" name="is_manager" value="1" id = "manager">
        {% endif %}
      </div>
   </div>



        <input  type="hidden" name="id" value="{{ post.id }}">
        <input type="hidden" name="name" value="{{ post.Usr_Name }}">
        <input type="hidden" name="last_update" value="{{ post.Last_Update }}">
       <input type="hidden" name="userid" value="{{ post.Usr_Mobile }}">

<div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
         <button type="submit" class="btn btn-success">提交</button>
      </div>
   </div>



        </form>
        <hr/>

</div>
{% endblock %}